/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/*********************
BUTTONS
*********************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
#homepage-slideshow {
  background: #ebebeb;
  height: auto;
  display: block !important;
}
#homepage-slideshow img {
  max-width: 1200px;
  width: 100%;
}
#homepage-slideshow .flex-caption {
  margin-top: -10%;
}
#tagline {
  margin-top: 3%;
}
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer {
  text-align: left;
}
/* end .footer-links */
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin-top: 40px;
}
p {
  line-height: 23px;
}
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1200px;
}
/*********************
HEADER STYLES
*********************/
.header {
  padding-top: 0;
  height: 178px;
}
.header #site-title {
  font-size: 2.3rem;
  margin: 8px 0 !important;
  width: 350px;
  line-height: 30px;
  float: left;
  text-align: left;
}
.header #site-title span {
  font-size: 1.3rem;
}
.header #header-phone {
  display: block !important;
  font-family: "Strait", Helvetica, Arial, sans-serif;
  color: #202020;
  text-align: right;
  font-size: 1.3rem;
  width: 350px;
  padding: 20px 0;
  line-height: 30px;
  float: right;
}
.header #header-phone span {
  font-family: "Strait", Helvetica, Arial, sans-serif !important;
  font-weight: 700;
  font-size: 1.4rem;
}
.header #inner-header {
  width: 100%;
  /* end .nav */
}
.header #inner-header .nav-container {
  width: 640px;
  margin: 0 auto;
  position: relative;
  display: block !important;
}
.header #inner-header .nav {
  margin: 0;
  padding-top: 15px;
}
.header #inner-header .nav a {
  border-bottom: 0;
  background: none !important;
  color: #ebebeb;
  float: left;
  padding: 10px 20px;
}
.header #inner-header .nav a:hover,
.header #inner-header .nav a:focus {
  color: #b8b8b8;
  text-decoration: none !important;
}
.header #inner-header .absolute {
  float: left;
}
.header #inner-header .absolute #logo {
  width: 171px !important;
  margin: -45px auto 0 auto !important;
  position: absolute;
}
.header #inner-header .first-nav-group {
  margin: 0 8px 0 0;
}
.header #inner-header .second-nav-group {
  padding-top: 15px;
  float: left;
  margin-left: 178px;
}
.header #inner-header .second-nav-group a {
  border-bottom: 0;
  background: none !important;
  color: #ebebeb;
  float: left !important;
  padding: 10px 20px;
}
.header #inner-header .second-nav-group a:hover,
.header #inner-header .second-nav-group a:focus {
  color: #b8b8b8;
  text-decoration: none !important;
}
.header #inner-header .mobile-nav-button,
.header #inner-header .mobile-phone {
  display: none;
}
.mobile-nav-container {
  display: none;
}
/*********************
CONTENT & POSTS
*********************/
#content #inner-content {
  padding: 0 50px;
}
#content #inner-content .page-header-wrapper {
  text-align: center;
  margin: 70px 0 20px 0;
}
#content #inner-content .page-header-wrapper p {
  clear: left;
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 35px;
  padding: 0 5%;
  color: #828754;
}
#content #inner-content .page-header-wrapper .phone {
  font-size: 2.4rem;
}
#homepage-slideshow {
  width: 100%;
  max-height: 250px;
}
#homepage-slideshow .flex-caption {
  margin-top: -140px;
}
#tagline {
  text-align: center;
  color: #202020;
  line-height: 30px;
  margin-top: 108px;
}
#tagline p {
  padding: 20px 15%;
  font-size: 1.7rem !important;
}
#homepage-content {
  padding: 40px;
}
.featured-area {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.featured-area #homepage-crew,
.featured-area #homepage-emergency,
.featured-area #homepage-services {
  margin-bottom: 0;
}
.services .page-header-wrapper p {
  padding: 0 10% !important;
  font-size: 1.7rem !important;
  line-height: 35px !important;
}
.services #inner-services .row {
  padding: 0;
}
.testimonial-group {
  display: block !important;
  padding-right: 15px;
}
.testimonial-group .testimonial {
  border-left: 3px solid #dcdeca;
  margin-bottom: 15px;
  padding: 10px 20px;
  background: #e2e4d3;
}
.testimonial-group .testimonial p {
  font-size: 14px !important;
  line-height: 18px;
}
.testimonial-group .testimonial span {
  font-family: "Kelly Slab", Cambria, Times New Roman, Times, serif;
  font-size: 18px;
  color: #828754;
}
.employee-slider {
  display: block !important;
  width: 100%;
  height: auto;
}
.employee-slider .slides {
  height: auto;
}
.employee-slider li {
  height: auto;
  width: 100%;
}
.employee-slider li .employee-image img {
  width: 100%;
  height: auto;
}
.employee-slider li .employee-desc {
  max-width: 400px;
  width: 100%;
  float: right;
  margin: 0 2% 0 0;
  height: 400px;
  background: #43452b;
  color: #d2d4ba;
  font-family: "Strait", Helvetica, Arial, sans-serif;
  padding: 20px 20px 0 20px;
}
.employee-slider li .employee-desc .height {
  height: 350px;
  overflow: scroll !important;
}
.employee-slider li span {
  font-size: 1.7rem;
  font-family: "Kelly Slab", serif;
  margin-bottom: 0;
}
.employee-slider li .job-title {
  margin-top: 0;
  font-style: italic;
}
.employee-slider li span,
.employee-slider li .job-title {
  color: #92975e;
}
.employee-slider .employee-nav {
  background: #1e2014;
  padding: 20px;
}
.employee-slider .employee-nav .control-nav {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 500px;
}
.employee-slider .employee-nav .control-nav li a {
  color: #ebebeb;
  font-family: "Strait", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  float: left !important;
  position: relative;
  padding: 0 3% 0;
}
.employee-slider .employee-nav .control-nav li a:hover {
  color: #92975e;
  text-decoration: none;
}
.mobile-emp {
  display: none !important;
}
.gallery-thumb {
  float: left;
  margin: 0 1.4%;
  width: 22%;
  background-position: top !important;
}
.gallery-thumb:last-child {
  margin-right: none;
}
.gallery-slideshow img {
  margin: 0;
}
.gallery-slideshow .two-images {
  width: 50%;
}
.gallery-slideshow .two-images:first-child {
  border-right: 2px solid #1e2014;
}
.gallery-slideshow p {
  font-size: 20px;
  font-weight: 400;
}
#inner-gallery {
  color: #555837;
}
#inner-gallery .page-header-wrapper {
  text-align: center;
  margin: 70px 0 20px 0;
}
#inner-gallery .page-header-wrapper p {
  clear: left;
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 35px !important;
  padding: 0 5%;
  color: #828754;
}
#inner-gallery .row {
  display: block !important;
}
#inner-gallery .mobile-row {
  display: none !important;
}
.contact-form {
  width: 70%;
}
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'] {
  background: none;
  box-shadow: none;
  height: 30px;
  border-bottom: 2px solid #92975e;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
.contact-form .left {
  float: left;
  width: 47%;
}
.contact-form .right {
  float: right;
  width: 47%;
}
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
}
/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
