/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
#homepage-slideshow {
  background: #ebebeb;
  height: auto;
  display: block !important;
}
#homepage-slideshow img {
  max-width: 1200px;
  width: 100%;
}
#homepage-slideshow .flex-caption {
  margin-top: -10%;
}
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer {
  text-align: left;
}
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin-top: 40px;
}
h1 {
  font-size: 2.8em;
  line-height: 1.333em;
}
p {
  line-height: 23px;
}
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1200px;
}
.interior-page-width {
  padding: 0 30px;
}
/*********************
HEADER STYLES
*********************/
.header {
  padding-top: 0;
  height: 179px;
}
.header #site-title {
  font-size: 2.3rem;
  margin: 8px 0 !important;
  width: 350px;
  line-height: 30px;
  float: left;
  text-align: left;
}
.header #site-title span {
  font-size: 1.3rem;
}
.header #header-phone {
  display: block !important;
  font-family: "Strait", Helvetica, Arial, sans-serif;
  color: #ebebeb;
  text-align: right;
  font-size: 1.3rem;
  width: 350px;
  padding: 20px 0;
  line-height: 30px;
  float: right;
}
.header #header-phone span {
  font-family: "Strait", Helvetica, Arial, sans-serif !important;
  font-weight: 700;
  font-size: 1.4rem;
}
.header #inner-header {
  width: 100%;
  /* end .nav */
}
.header #inner-header .nav-container {
  width: 690px;
  margin: 0 auto;
  position: relative;
  display: block !important;
  padding-left: 28px;
}
.header #inner-header .nav {
  margin: 0;
  padding-top: 15px;
}
.header #inner-header .nav a {
  border-bottom: 0;
  background: none !important;
  color: #ebebeb;
  float: left;
  padding: 10px 20px;
}
.header #inner-header .nav a:hover,
.header #inner-header .nav a:focus {
  color: #b8b8b8;
  text-decoration: none !important;
}
.header #inner-header .absolute {
  float: left;
}
.header #inner-header .absolute #logo {
  width: 171px !important;
  margin: -45px auto 0 auto !important;
  position: absolute;
}
.header #inner-header ul {
  margin: 0 !important;
  float: left;
}
.header #inner-header ul li {
  float: left;
}
.header #inner-header .first-nav-group {
  margin: 0 8px 0 0;
}
.header #inner-header .second-nav-group {
  padding-top: 15px;
  float: left;
  margin-left: 407px;
  margin-top: -59px;
}
.header #inner-header .second-nav-group a {
  border-bottom: 0;
  background: none !important;
  color: #ebebeb;
  float: left !important;
  padding: 10px 20px;
}
.header #inner-header .second-nav-group a:hover,
.header #inner-header .second-nav-group a:focus {
  color: #b8b8b8;
  text-decoration: none !important;
}
.header #inner-header .mobile-nav-button,
.header #inner-header .mobile-phone {
  display: none;
}
.mobile-nav-container {
  display: none;
}
/*********************
CONTENT & POSTS
*********************/
#content #inner-content {
  padding: 0 50px;
}
.page-header-wrapper {
  text-align: center;
  margin: 70px 0 35px 0 !important;
}
.page-header-wrapper p {
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 30px !important;
  padding: 0 10%;
}
#homepage-slideshow {
  width: 100%;
  max-height: 250px;
}
#homepage-slideshow .flex-caption {
  margin-top: -140px;
}
#tagline p {
  padding: 0 15%;
}
#homepage-content {
  padding: 40px;
}
.featured-area {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.featured-area #homepage-crew,
.featured-area #homepage-emergency,
.featured-area #homepage-services {
  margin-bottom: 0;
}
.extra-space {
  padding: 0;
}
.galleries {
  margin-top: 0;
}
.services #inner-services .row {
  padding: 0;
}
.large-testimonial-area {
  padding-top: 40px !important;
}
.testimonial-group {
  display: block !important;
  padding-right: 15px;
}
.read-more-tests {
  margin: 30px 10%;
  padding: 15px 10px;
  text-align: center;
  background: #46482d;
  display: block;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #d2d4ba !important;
}
.read-more-tests:hover {
  background: #555837;
}
.employee-container {
  margin-top: 40px;
}
.employee .emp-title {
  text-align: left;
}
.employee .employee-image {
  float: left;
  margin-right: 50px;
}
.employee:last-child .employee-image {
  margin-bottom: 50px;
}
.galleries {
  padding-top: 40px;
}
.galleries li {
  display: inline-block;
  margin: 0 1.4%;
  width: 30%;
}
.gallery-thumb-wrapper .gallery-thumb {
  background-position: top !important;
}
.gallery-thumb-wrapper .gallery-thumb:last-child {
  margin-right: none;
}
.gallery-thumb-wrapper .gallery-thumb img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gallery-thumb-wrapper:hover {
  text-decoration: none;
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -ms-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}
.gallery-thumb-wrapper:hover .gallery-thumb {
  border-top: 8px solid #3d3f27;
}
.gallery-thumb-wrapper:hover .gallery-thumb img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.gallery-thumb-wrapper:hover .gallery-thumb p {
  color: #d2d4ba;
}
.swipe-notice {
  display: none;
}
.gallery-slideshow .flex-direction-nav {
  display: block !important;
}
.gallery-slideshow p {
  font-size: 20px;
  line-height: 25px !important;
  font-weight: 400;
}
.second-half .testimonial-push {
  padding: 0 30px 0 0;
}
.inner-gallery {
  color: #555837;
}
.inner-gallery .row {
  display: block !important;
}
.inner-gallery .mobile-row {
  display: none !important;
}
.contact-form {
  width: 70%;
}
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'] {
  background: none;
  box-shadow: none;
  height: 30px;
  border-bottom: 2px solid #92975e;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
.contact-form .left {
  float: left;
  width: 47%;
}
.contact-form .right {
  float: right;
  width: 47%;
}
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#tagline p {
  padding: 20px 15%;
  font-size: 1.7rem !important;
  line-height: 30px !important;
}
