/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/*********************
BUTTONS
*********************/
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */
  background: #1e2014;
}
body {
  font-family: "Kelly Slab", Cambria, Times New Roman, Times, serif;
  line-height: 1.5;
  color: #565656;
}
p {
  font-size: 1.1rem;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  margin: 0 auto;
}
.shadow {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}
#container {
  background: #1e2014;
}
.right {
  float: right;
}
.left {
  float: left;
}
.divisor {
  background: url(../images/wood.jpg) repeat-x center left;
  height: 10px !important;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #ebebeb;
  font-family: "Kelly Slab", serif;
  text-decoration: none;
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus,
a:active,
a:visited:active {
  color: #b8b8b8;
  text-decoration: underline;
}
p {
  font-family: "Strait", Helvetica, Arial, sans-serif;
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Kelly Slab", Cambria, Times New Roman, Times, serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 10px;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*********************
06. HEADER STYLES
*********************/
.header {
  color: #ebebeb;
  background: url(../images/wood-long-color.jpg) repeat-x #1e2014;
  height: 149px;
}
.header .preface {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header #site-title {
  color: #202020;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  width: 250px;
  padding: 10px 0;
  line-height: 25px;
  margin: 0 auto;
  position: relative;
}
.header #site-title a {
  font-family: "Mate SC", serif !important;
  color: #202020;
}
.header #site-title a:hover,
.header #site-title a:active,
.header #site-title a:focus {
  color: #202020;
  text-decoration: none;
}
.header #site-title a span {
  font-size: 1.3rem;
  font-family: "Strait", Helvetica, Arial, sans-serif !important;
  text-transform: uppercase;
}
.header #header-phone {
  display: none;
}
.header #inner-header {
  width: 100%;
  height: 66px;
  background: url(../images/green_fabric_bg.png) repeat-x #1e2014;
  /* end .nav */
}
.header #inner-header .nav-container {
  display: none;
}
.header #inner-header .nav {
  border-bottom: 0;
}
.header #inner-header .nav a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Kelly Slab", serif;
  font-size: 1.2rem;
}
.header #inner-header .nav a:hover,
.header #inner-header .nav a:focus {
  text-decoration: none !important;
}
.header #inner-header .mobile-nav-button {
  width: 75px;
  padding: 5px 10px;
  border-radius: 2px;
  background: #1e2014;
  text-align: center;
  cursor: pointer;
  margin: 20px 20px 0 0;
  float: right;
  font-weight: 700;
}
.header #inner-header .mobile-phone {
  float: left;
  font-size: 1.2rem;
  padding: 23px 0 0 10px;
}
.header #inner-header .background-green {
  background: #92975e;
}
.header img#logo {
  width: 100px;
  position: relative;
  margin: 0 auto;
  z-index: 9999;
}
.mobile-nav-container .nav a {
  display: block;
  float: none;
  padding: 20px 10%;
  border-bottom: 1px solid #555837;
  font-size: 1.3rem;
  text-transform: uppercase;
}
/*********************
HOMEPAGE
*********************/
#homepage-slideshow {
  display: none;
}
#tagline {
  background: url(../images/wood.jpg) no-repeat;
  height: 100px;
  font-family: "Strait", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
  color: #202020;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 31px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 31px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 31px 5px rgba(0, 0, 0, 0.6);
}
#tagline p {
  padding: 5% 5px;
  margin: 0;
}
#homepage-content {
  background: #d2d4ba;
  padding: 20px;
  -webkit-box-shadow: inset 0 0 18px #202020;
  -moz-box-shadow: inset 0 0 18px #202020;
  box-shadow: inset 0 0 18px #202020;
}
.featured-area .homepage-featured {
  border-radius: 8px;
  background: #333333;
}
.featured-area .homepage-featured:hover {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2) !important;
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.03, 1.03);
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.03, 1.03);
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.03, 1.03);
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: ease-out;
}
.featured-area #homepage-crew,
.featured-area #homepage-emergency,
.featured-area #homepage-services {
  border-radius: 8px;
  background: #73774b;
  text-align: center;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.featured-area #homepage-crew .label,
.featured-area #homepage-emergency .label,
.featured-area #homepage-services .label {
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  padding: 20px 0;
}
.featured-area #homepage-crew .label img,
.featured-area #homepage-emergency .label img,
.featured-area #homepage-services .label img {
  width: 100px;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.featured-area #homepage-crew .label span,
.featured-area #homepage-emergency .label span,
.featured-area #homepage-services .label span {
  text-transform: uppercase;
  color: #202020 !important;
  font-weight: 700;
  font-size: 1.2rem;
}
.featured-area #homepage-crew .desc,
.featured-area #homepage-emergency .desc,
.featured-area #homepage-services .desc {
  font-family: "Strait", Helvetica, Arial, sans-serif !important;
  padding: 0 20px 10px 20px;
}
.featured-area #homepage-crew a:hover,
.featured-area #homepage-emergency a:hover,
.featured-area #homepage-services a:hover,
.featured-area #homepage-crew a:active,
.featured-area #homepage-emergency a:active,
.featured-area #homepage-services a:active,
.featured-area #homepage-crew a:focus,
.featured-area #homepage-emergency a:focus,
.featured-area #homepage-services a:focus {
  text-decoration: none !important;
  color: #ffffff !important;
}
/*********************
08. POSTS & CONTENT STYLES
*********************/
#content {
  background: #1e2014;
}
#content #inner-content {
  background: #ebebeb;
  max-width: 1080px;
  padding: 0 20px;
}
#content #inner-content .page-header-wrapper {
  text-align: center;
  margin: 20px 0 20px 0;
}
#content #inner-content .page-header-wrapper p {
  clear: left;
  margin-top: 0;
  font-size: 1.3rem;
  line-height: 20px;
  padding: 0;
  color: #828754;
}
#content #inner-content .page-header-wrapper .phone {
  font-size: 1.8rem;
  color: #1e2014;
  margin-bottom: 20px;
}
.services #inner-services {
  background: #ebebeb;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  padding: 30px 25px;
}
.services #inner-services .page-header-wrapper {
  text-align: center;
  margin-bottom: 50px;
}
.services #inner-services .page-header-wrapper p {
  clear: left;
  margin-top: 0;
  font-size: 1.3rem;
  line-height: 20px;
  padding: 0;
  color: #828754;
}
.services #inner-services .row {
  margin-bottom: 30px;
}
.services #inner-services .service-title {
  text-align: left;
  color: #1e2014;
  border-bottom: 3px solid #d2d4ba;
  font-size: 1.3rem;
  width: 100%;
}
.services #inner-services .service-description {
  font-family: "Strait", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  margin-top: 10px;
}
.testimonial-group {
  display: none;
}
.employee-slider {
  display: none;
}
.mobile-emp {
  margin-top: 0;
  color: #ebebeb;
}
.mobile-emp li {
  border-bottom: 5px solid #9a9f65;
  padding: 20px;
}
.mobile-emp li:nth-child(odd) {
  background: #73774b;
}
.mobile-emp li:nth-child(even) {
  background: #898d58;
}
.mobile-emp li span {
  font-size: 1.7rem;
  font-family: "Kelly Slab", serif;
  margin-bottom: 0;
}
.mobile-emp li .job-title {
  margin-top: 0;
  font-style: italic;
}
#inner-gallery {
  padding: 0 2%;
  background: #ebebeb;
  max-width: 1080px;
}
#inner-gallery .page-header-wrapper {
  text-align: center;
  margin: 20px 0 20px 0;
}
#inner-gallery .page-header-wrapper p {
  clear: left;
  margin-top: 0;
  font-size: 1.3rem;
  padding: 0;
  color: #828754;
}
#inner-gallery .green {
  background: #212316;
  padding: 15px 15px 10px;
}
#inner-gallery .row {
  display: none;
  margin-bottom: 15px;
}
#inner-gallery h2 {
  margin-top: 10px;
  font-family: "Strait", Helvetica, Arial, sans-serif !important;
  margin-bottom: 0;
}
#inner-gallery img {
  max-width: 700px;
  width: 100%;
  height: auto;
}
.gallery-thumb-wrapper {
  text-align: left;
  width: 100%;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.gallery-thumb-wrapper .gallery-thumb {
  border-top: 8px solid #555837;
  background: url(../images/RedWoodLarge.jpg);
  background-size: 500px 250px;
  background-position: bottom;
  margin-bottom: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}
.gallery-thumb-wrapper .gallery-thumb img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gallery-thumb-wrapper .gallery-thumb p {
  color: #ebebeb;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 0;
}
.gallery-thumb-wrapper:hover {
  text-decoration: none;
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -ms-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}
.gallery-thumb-wrapper:hover .gallery-thumb {
  border-top: 8px solid #3d3f27;
}
.gallery-thumb-wrapper:hover .gallery-thumb img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.gallery-thumb-wrapper:hover .gallery-thumb p {
  color: #d2d4ba;
}
.gallery-slideshow {
  margin: 40px 0 40px 0;
}
.gallery-slideshow img {
  width: 100%;
  height: auto;
  float: left;
  border-bottom: 2px solid #1e2014;
  background: #555837;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}
.gallery-slideshow p {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  color: #ebebeb;
  background: #555837;
  margin: 0;
  padding: 20px;
  border-top: 5px solid #1e2014;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}
.contact-form {
  text-align: left;
  width: 96%;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}
.contact-form p {
  color: #92975e !important;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  padding: 0 !important;
}
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'] {
  background: none;
  box-shadow: none;
  height: 30px;
  border-bottom: 2px solid #92975e;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
.contact-form .left {
  float: none;
  width: 100%;
}
.contact-form .right {
  float: none;
  width: 100%;
}
.contact-form textarea {
  background: #dcdeca;
  border: none;
  width: 100%;
}
.contact-form input[type='submit'] {
  background: #3b3f28;
  color: #ebebeb;
  font-family: "Kelly Slab", serif;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
}
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.bones_page_navi {
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/*********************
13. FOOTER STYLES
*********************/
.footer {
  clear: both;
  background: url(../images/green_fabric_bg.png) repeat-x;
}
.footer .absolute {
  width: 75px;
  margin: 0 auto;
  position: relative;
}
.footer .absolute img {
  width: 75px;
  margin: 0 auto;
}
.footer #inner-footer {
  color: #ebebeb;
  text-align: center;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
  /*********************
NAVIGATION STYLES
*********************/
  #homepage-slideshow {
    background: #ebebeb;
    height: auto;
    display: block !important;
  }
  #homepage-slideshow img {
    max-width: 1200px;
    width: 100%;
  }
  #homepage-slideshow .flex-caption {
    margin-top: -10%;
  }
  #tagline {
    margin-top: 3%;
  }
  /*********************
POSTS & CONTENT STYLES
*********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
FOOTER STYLES
*********************/
  /*
check your menus here. do they look good?
do they need tweaking?
*/
  .footer {
    text-align: left;
  }
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  /******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    margin-top: 40px;
  }
  p {
    line-height: 23px;
  }
  /*********************
LAYOUT & GRID STYLES
*********************/
  .wrap {
    max-width: 1200px;
  }
  /*********************
HEADER STYLES
*********************/
  .header {
    padding-top: 0;
    height: 178px;
  }
  .header #site-title {
    font-size: 2.3rem;
    margin: 8px 0 !important;
    width: 350px;
    line-height: 30px;
    float: left;
    text-align: left;
  }
  .header #site-title span {
    font-size: 1.3rem;
  }
  .header #header-phone {
    display: block !important;
    font-family: "Strait", Helvetica, Arial, sans-serif;
    color: #202020;
    text-align: right;
    font-size: 1.3rem;
    width: 350px;
    padding: 20px 0;
    line-height: 30px;
    float: right;
  }
  .header #header-phone span {
    font-family: "Strait", Helvetica, Arial, sans-serif !important;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .header #inner-header {
    width: 100%;
    /* end .nav */
  }
  .header #inner-header .nav-container {
    width: 640px;
    margin: 0 auto;
    position: relative;
    display: block !important;
  }
  .header #inner-header .nav {
    margin: 0;
    padding-top: 15px;
  }
  .header #inner-header .nav a {
    border-bottom: 0;
    background: none !important;
    color: #ebebeb;
    float: left;
    padding: 10px 20px;
  }
  .header #inner-header .nav a:hover,
  .header #inner-header .nav a:focus {
    color: #b8b8b8;
    text-decoration: none !important;
  }
  .header #inner-header .absolute {
    float: left;
  }
  .header #inner-header .absolute #logo {
    width: 171px !important;
    margin: -45px auto 0 auto !important;
    position: absolute;
  }
  .header #inner-header .first-nav-group {
    margin: 0 8px 0 0;
  }
  .header #inner-header .second-nav-group {
    padding-top: 15px;
    float: left;
    margin-left: 178px;
  }
  .header #inner-header .second-nav-group a {
    border-bottom: 0;
    background: none !important;
    color: #ebebeb;
    float: left !important;
    padding: 10px 20px;
  }
  .header #inner-header .second-nav-group a:hover,
  .header #inner-header .second-nav-group a:focus {
    color: #b8b8b8;
    text-decoration: none !important;
  }
  .header #inner-header .mobile-nav-button,
  .header #inner-header .mobile-phone {
    display: none;
  }
  .mobile-nav-container {
    display: none;
  }
  /*********************
CONTENT & POSTS
*********************/
  #content #inner-content {
    padding: 0 50px;
  }
  #content #inner-content .page-header-wrapper {
    text-align: center;
    margin: 70px 0 20px 0;
  }
  #content #inner-content .page-header-wrapper p {
    clear: left;
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 35px;
    padding: 0 5%;
    color: #828754;
  }
  #content #inner-content .page-header-wrapper .phone {
    font-size: 2.4rem;
  }
  #homepage-slideshow {
    width: 100%;
    max-height: 250px;
  }
  #homepage-slideshow .flex-caption {
    margin-top: -140px;
  }
  #tagline {
    text-align: center;
    color: #202020;
    line-height: 30px;
    margin-top: 108px;
  }
  #tagline p {
    padding: 20px 15%;
    font-size: 1.7rem !important;
  }
  #homepage-content {
    padding: 40px;
  }
  .featured-area {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .featured-area #homepage-crew,
  .featured-area #homepage-emergency,
  .featured-area #homepage-services {
    margin-bottom: 0;
  }
  .services .page-header-wrapper p {
    padding: 0 10% !important;
    font-size: 1.7rem !important;
    line-height: 35px !important;
  }
  .services #inner-services .row {
    padding: 0;
  }
  .testimonial-group {
    display: block !important;
    padding-right: 15px;
  }
  .testimonial-group .testimonial {
    border-left: 3px solid #dcdeca;
    margin-bottom: 15px;
    padding: 10px 20px;
    background: #e2e4d3;
  }
  .testimonial-group .testimonial p {
    font-size: 14px !important;
    line-height: 18px;
  }
  .testimonial-group .testimonial span {
    font-family: "Kelly Slab", Cambria, Times New Roman, Times, serif;
    font-size: 18px;
    color: #828754;
  }
  .employee-slider {
    display: block !important;
    width: 100%;
    height: auto;
  }
  .employee-slider .slides {
    height: auto;
  }
  .employee-slider li {
    height: auto;
    width: 100%;
  }
  .employee-slider li .employee-image img {
    width: 100%;
    height: auto;
  }
  .employee-slider li .employee-desc {
    max-width: 400px;
    width: 100%;
    float: right;
    margin: 0 2% 0 0;
    height: 400px;
    background: #43452b;
    color: #d2d4ba;
    font-family: "Strait", Helvetica, Arial, sans-serif;
    padding: 20px 20px 0 20px;
  }
  .employee-slider li .employee-desc .height {
    height: 350px;
    overflow: scroll !important;
  }
  .employee-slider li span {
    font-size: 1.7rem;
    font-family: "Kelly Slab", serif;
    margin-bottom: 0;
  }
  .employee-slider li .job-title {
    margin-top: 0;
    font-style: italic;
  }
  .employee-slider li span,
  .employee-slider li .job-title {
    color: #92975e;
  }
  .employee-slider .employee-nav {
    background: #1e2014;
    padding: 20px;
  }
  .employee-slider .employee-nav .control-nav {
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 500px;
  }
  .employee-slider .employee-nav .control-nav li a {
    color: #ebebeb;
    font-family: "Strait", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    float: left !important;
    position: relative;
    padding: 0 3% 0;
  }
  .employee-slider .employee-nav .control-nav li a:hover {
    color: #92975e;
    text-decoration: none;
  }
  .mobile-emp {
    display: none !important;
  }
  .gallery-thumb {
    float: left;
    margin: 0 1.4%;
    width: 22%;
    background-position: top !important;
  }
  .gallery-thumb:last-child {
    margin-right: none;
  }
  .gallery-slideshow img {
    margin: 0;
  }
  .gallery-slideshow .two-images {
    width: 50%;
  }
  .gallery-slideshow .two-images:first-child {
    border-right: 2px solid #1e2014;
  }
  .gallery-slideshow p {
    font-size: 20px;
    font-weight: 400;
  }
  #inner-gallery {
    color: #555837;
  }
  #inner-gallery .page-header-wrapper {
    text-align: center;
    margin: 70px 0 20px 0;
  }
  #inner-gallery .page-header-wrapper p {
    clear: left;
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 35px !important;
    padding: 0 5%;
    color: #828754;
  }
  #inner-gallery .row {
    display: block !important;
  }
  #inner-gallery .mobile-row {
    display: none !important;
  }
  .contact-form {
    width: 70%;
  }
  .contact-form input[type='text'],
  .contact-form input[type='email'],
  .contact-form input[type='tel'] {
    background: none;
    box-shadow: none;
    height: 30px;
    border-bottom: 2px solid #92975e;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
  }
  .contact-form .left {
    float: left;
    width: 47%;
  }
  .contact-form .right {
    float: right;
    width: 47%;
  }
  /*********************
FOOTER STYLES
*********************/
  /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
  /* end .footer-links */
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
