/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

.container {}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	margin-top: 40px;
}

p {
	line-height: 23px;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1200px;
}

/*********************
HEADER STYLES
*********************/

.header {
	padding-top: 0;
	height: 178px;

	#site-title {
		font-size: 2.3rem;
		margin: 8px 0 !important;
		width: 350px;
		line-height: 30px;
		float: left;
		text-align: left;

		span {
			font-size: 1.3rem;
		}
	}

	#header-phone {
		display:block !important;
		font-family: @sans-serif;
		color: @dark-gray;
		text-align: right;
		//font-weight: 700;
		font-size: 1.3rem;
		width: 350px;
		padding: 20px 0;
		line-height: 30px;
		float: right;

		span {
			font-family: @sans-serif !important;
			font-weight: 700;
			font-size: 1.4rem;
		}
	}
		

	#inner-header {
		width: 100%;

		.nav-container {
			width: 640px;
			margin: 0 auto;
			position: relative;
			display: block !important;
		}

		.nav {
			margin: 0;
			padding-top: 15px;

			a {
				border-bottom: 0;
				background: none !important;
				color: #ebebeb;
				float: left;
				padding: 10px 20px;

				&:hover, &:focus {
					color: @link-hover;
					text-decoration: none !important;
				}
			}	
		} /* end .nav */

		.absolute {
			float: left;

			#logo {
				width: 171px !important;
				margin: -45px auto 0 auto !important;
				position: absolute;
			}
		}

		.first-nav-group {
			margin: 0 8px 0 0;
		}

		.second-nav-group {
			padding-top: 15px;
			float: left;
			margin-left: 178px;

			a {
				border-bottom: 0;
				background: none !important;
				color: #ebebeb;
				float: left !important;
				padding: 10px 20px;

				&:hover, &:focus {
					color: @link-hover;
					text-decoration: none !important;
				}
			}	
		}

		.mobile-nav-button, 
		.mobile-phone {
			display: none;
		}


	}	
}

.mobile-nav-container {
	display: none;
}

/*********************
CONTENT & POSTS
*********************/

#content {
	#inner-content {
		padding: 0 50px;

		.page-header-wrapper {
			text-align: center;
			margin: 70px 0 20px 0;

			p {
				clear: left;
				margin-top: 0;
				font-size: 1.5rem;
				line-height: 35px;
				padding: 0 5%;
				color: lighten(@green, 15%);
			}

			.phone {
				font-size: 2.4rem;
			}
		}
	}
}

#homepage-slideshow {
	width: 100%;
	max-height: 250px;

	.flex-caption {
		margin-top: -140px; 
	}
}

#tagline {
	text-align: center;
	line-height: 30px;
	color: @dark-gray;
	line-height: 30px;
	margin-top: 108px;

	p {
		padding: 20px 15%;
		font-size: 1.7rem !important;
	}
}

#homepage-content {
	padding: 40px;
}

.featured-area {
	max-width: 840px;
	width: 100%;
	margin: 0 auto;
	position: relative;

	#homepage-crew,
	#homepage-emergency,
	#homepage-services {
		margin-bottom: 0;
	}

	#homepage-crew {}

	#homepage-emergency {}

	#homepage-before-after {}
}

.services {

	.page-header-wrapper {

		p {
			padding: 0 10% !important;
			font-size: 1.7rem !important;
			line-height: 35px !important;
		}	
	}

	#inner-services {

		.service-title {
		}

		.row {
			padding: 0;
		}
	}
}

.testimonial-group {
	display: block !important;
	padding-right: 15px;

	.testimonial {
		border-left: 3px solid lighten(@green, 55%) ;
		margin-bottom: 15px;
		padding: 10px 20px;
		background: lighten(@green, 58%);

		p {
			font-size: 14px !important;
			line-height: 18px;
		}

		span {
			font-family: @serif;
			font-size: 18px;
			color:lighten(@green, 15%);
		}
	}
}

.employee-slider {
	display: block !important;
	width: 100%;
	height: auto;

	.slides {
		height: auto;
	}

	li {
		height: auto;
		width: 100%;

		.employee-image {

			img {
				width: 100%;
				height: auto;
			}
		}

		.employee-desc {
			max-width: 400px;
			width: 100%;
			float: right;
			margin: 0 2% 0 0;
			height: 400px;
			background: darken(@green, 6%);
			color: lighten(@green, 50%);
			font-family: @sans-serif;
			padding: 20px 20px 0 20px;
			
			.height {
				height: 350px;
				overflow: scroll !important;
			}
		}

		span {
			font-size: 1.7rem;
			font-family: @soviet;
			margin-bottom: 0;
		}

		.job-title {
			margin-top: 0;
			font-style: italic;
		}

		span, .job-title {
			color: lighten(@green, 20%);
		}
	}

	.employee-nav {
		background: @dark-green;
		padding: 20px;

		.control-nav {
			position: relative;
			margin: 0 auto;
			padding: 0;
			display:block;
			width: 500px;


			li {

				a {
					color: @light-gray;
					font-family: @sans-serif;
					text-transform: uppercase;
					float: left !important;
					position: relative;
					padding: 0 3% 0;

					&:hover {
						color: lighten(@green, 20%);
						text-decoration: none;
					}
				}
			}
		}
	}
}	
.mobile-emp {
	display:none !important;
}

.gallery-thumb {
	float: left;
	margin: 0 1.4%;
	width: 22%;
	background-position: top !important;

	&:last-child {
		margin-right: none;
	}
}

.gallery-slideshow {
	img {
		margin: 0;
	}

	.two-images {
		width: 50%;
		
		&:first-child {
			border-right: 2px solid @dark-green;
		}
	}

	p {
		font-size: 20px;
		font-weight: 400;
	}
}

#inner-gallery	{
	color: @green;

	.page-header-wrapper {
		text-align: center;
		margin: 70px 0 20px 0;

		p {
			clear: left;
			margin-top: 0;
			font-size: 1.5rem;
			line-height: 35px !important;
			padding: 0 5%;
			color: lighten(@green, 15%);
		}
	}

	.row {
		display:block !important;
	}

	.mobile-row {
		display:none !important;
	}
}

.contact-form {
	width: 70%;

	input[type='text'], 
	input[type='email'],
	input[type='tel'] {
		background: none;
		box-shadow: none;
		height: 30px;
		border-bottom: 2px solid lighten(@green, 20%);
		border-top: none;
		border-left: none;
		border-right: none;
		width: 100%;
	}

	.left {
		float: left;
		width: 47%
	}

	.right {
		float: right;
		width: 47%
	}
}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

