/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
	background: url(../images/tree-bg.png) no-repeat lighten(@green, 55%);
	background-position: top;
	background-size: contain;
}
body {
	font-family: @serif;
	line-height: 1.3;
	color: #565656;
}

p {
	font-size: 1.1rem;
	line-height: 22px !important;
}

.center {
	text-align: center;
}

/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 96%;
	margin: 0 auto;
}
.shadow {
	.boxShadow(0px; 0px; 10px; 2px;);
}

.interior-page-width {
	max-width: 1080px;
}

.second-half {
	background-color: @dark-green;
}

.right {
	float: right;
}

.left {
	float: left;
}

.divisor {
	background: url(../images/wood.jpg) repeat-x center left;
	height: 10px !important;
}

.redwood-divisor-small {
	background: url(../images/red-wood.jpg) repeat-x center left;
	height: 10px !important;
}

.redwood-divisor-large {
	background: url(../images/red-wood.jpg) repeat-x center left;
	height: 50px !important;
}
/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;
	font-family: @soviet;
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: @link-hover;
		-webkit-transition-duration: 200ms;
		-webkit-transition-timing-function: ease-out;
		
		/* Webkit for Mozila Firefox */
		-moz-transition-duration: 200ms;
		-moz-transition-timing-function: ease-out;
		
		/* Webkit for IE( Version: 11, 10 ) */
		-ms-transition-duration: 200ms;
		-ms-transition-timing-function: ease-out;
	}
}

p {
	font-family: @sans-serif;
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @serif;
	text-rendering: optimizelegibility;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 10px;

	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 1.8em;
	line-height: 1em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-separator {
	background: url(../images/tree-bg.png) no-repeat lighten(@green, 55%);
	background-position: top;
	background-size: cover;
	padding: 30px;
	text-align: center;
	-moz-box-shadow:    inset 0 1px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 15px rgba(0,0,0,0.5);
    box-shadow:         inset 0 1px 15px rgba(0,0,0,0.5);

	h1 {
		margin: 0;
	}
}

.lose-that-space {

	.interior-page-width {
		padding: 0 !important;
	}	
}

/*********************
06. HEADER STYLES
*********************/

.header {
	color: #ebebeb;
	background: url(../images/metal-bg.jpg) repeat-x @dark-green;
	background-position: center;
	background-size: cover;
	height: 147px;
	border-bottom: 10px solid @dark-green;

	.preface {
		width: 96%;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}
	
	#site-title {
		color: #ebebeb;
		text-align: center;
		font-weight: 700;
		font-size: 1.5rem;
		width: 250px;
		padding: 10px 0;
		line-height: 25px;
		margin: 0 auto;
		position: relative;

		a {
			font-family: @greek !important;
			color: #ebebeb;

			&:hover, &:active, &:focus {
				color: #ebebeb;	
				text-decoration: none;			
			}

			span {
				font-size: 1.3rem;
				font-family: @sans-serif !important;
				text-transform: uppercase;
			}
		}
	}

	#header-phone {
		display:none;
	}	
	
	#inner-header {
		width: 100%;
		height: 66px;
		background: url(../images/green_fabric_bg.png) repeat-x @dark-green;

		.nav-container {
			display:none;
		}
		
		.nav {
			border-bottom: 0;

			a {
				display: block;
				text-decoration: none;
				padding: 10px;
				text-transform: uppercase;
				font-family: @soviet;
				font-size: 1.2rem;

				&:hover, &:focus {
					text-decoration: none !important;
				}
			}
		} /* end .nav */

		.mobile-nav-button {
			width: 75px;
			padding: 5px 10px;
			border-radius: 2px;
			background: @dark-green;
			text-align: center;
			cursor: pointer;
			margin: 22px 20px 0 0;
			float: right;
			font-weight: 700;
		}

		.mobile-phone {
			float: left;
			font-size: 1.2rem;
			padding: 25px 0 0 10px;
		}

		.background-green {
			background: lighten(@green, 20%);
		}
	}

	img#logo {
		width: 100px;
		position: relative;
		margin: 0 auto;
		z-index: 9999;
	}
}

.mobile-nav-container {
	background: @green;

	ul {
		margin: 0;
	}

	.nav {

		a {
			display:block;
			float: none;
			padding: 20px 10%;
			border-bottom: 1px solid darken(@green, 10%);
			font-size: 1.3rem;
			text-transform: uppercase;
			text-align: center;
		}
	}
}

/*********************
HOMEPAGE
*********************/

#homepage-slideshow {
	display:none;
}

#tagline {
	background: url(../images/wood.jpg) no-repeat; 
	height: 100px;
	font-family: @sans-serif;
	font-size: 1.2rem;
	text-align: center;
	line-height: 25px;
	color: @dark-gray;
	font-weight: 700;
	.boxShadow(0px; 2px; 31px; 5px;);
	display: table;
	position: relative;
	
	p {
		padding: 0 5px;
		margin: 0;
		display: table-cell;
		vertical-align: middle;
	}
}

#homepage-content {
	background: url(../images/20.jpg) repeat @light-green;
	background-position: top;
	background-size: 450px;
	padding: 20px;
	-webkit-box-shadow: inset 0 0 18px @dark-gray;
	   -moz-box-shadow: inset 0 0 18px @dark-gray;
			box-shadow: inset 0 0 18px @dark-gray;
}

.featured-area {

	.homepage-featured {
		background: #333333;
		&:hover {
			.boxShadow(0px; 0px; 6px; 3px; rgba(0,0,0,0.2)) !important;
			/* Webkit for Chrome and Safari */
			 -webkit-transform: scale(1.03, 1.03); // This is the scale for the normal size of the image.
			 -webkit-transition-duration: 200ms;
			 -webkit-transition-timing-function: ease-out;
			
			 /* Webkit for Mozila Firefox */
			 -moz-transform: scale(1.03, 1.03);
			 -moz-transition-duration: 200ms;
			 -moz-transition-timing-function: ease-out;
			
			 /* Webkit for IE( Version: 11, 10 ) */
			 -ms-transform: scale(1.03, 1.03);
			 -ms-transition-duration: 200ms;
			 -ms-transition-timing-function: ease-out;
		}
	}

	#homepage-crew,
	#homepage-emergency,
	#homepage-services {
		// border-radius: 8px;
		background: lighten(@green, 10%);
		text-align: center;
		margin-bottom: 20px;
		.boxShadow(0px; 0px; 5px; 2px; rgba(0,0,0,0.2));

		.label {
			background: @white;
			// border-radius: 8px 8px 0 0;
			padding: 20px 0;

			img {
				width: 100px;
				height: auto;
				position: relative;
				margin: 0 auto;
			}

			span {
				text-transform: uppercase;
				color: @dark-gray !important;
				font-weight: 700;
				font-size: 1.2rem;
			}
		}

		.desc {
			font-family: @sans-serif !important;
			padding: 0 20px 10px 20px;
		}

		a {
			&:hover, &:active, &:focus {
				text-decoration: none !important;
				color: @white !important;
			}
		}
	}
}

/*********************
08. POSTS & CONTENT STYLES
*********************/

.page-header-wrapper {
	text-align: center;
	margin: 20px 0;
	padding: 0 20px;

	p {
		clear: left;
		margin-top: 10px;
		font-size: 1.1rem;
		line-height: 20px;
		padding: 0;
		color: lighten(@green, 5%);
	}

	.phone {
		font-size: 1.8rem;
		color: @dark-green !important;
		margin-bottom: 20px;
	}
}

.extra-space {
	padding: 0 20px;
}

.services {

	.row {
		margin-bottom: 30px;
	}

	.service-title {
		text-align: left;
		color: @dark-green;
		border-bottom: 3px solid lighten(@green, 50%);
		font-size: 1.3rem;
		width: 100%;
	}

	.service-description {
		font-family: @sans-serif;
		border-radius: 3px;
		margin-top: 10px;
	}
}

.testimonial-group {
	display: none;
}

.testimonial {
	// border-left: 5px solid @green ;
	padding: 10px 20px;
	background: lighten(@green, 7%);

	p {
		font-size: 16px !important;
		line-height: 24px !important;
		color: @white;
	}
}

.gray {
	background:@light-gray;
}

.client {
	padding: 10px 20px;
	// background: @green !important;
	background: url('../images/red-wood.jpg');

	span {
		font-family: @serif;
		font-size: 18px;
		color: @light-gray;
		float: right;
	}
}

.large-testimonial-area {

	.item {
		.boxShadow(0px; 0px; 1px; 2px; rgba(0,0,0,0.04)) !important;
	}

	.testimonial {
		background: @white;

		p {
			color: @black !important;
		}	
	}

	.client {
		background: @light-green;

		span {
			color: @black !important;
		}	
	}
}

.employee-container {
	background: @light-gray;
	padding: 20px 5% 0 5%;
}

.employee {
	clear: both;
	margin-top: 50px;

	.emp-title {
		text-align: center;
		margin-top: 20px;
	}

	span {
		font-size: 30px;
		color: @green;
	}

	.job-title {
		font-size: 14px !important;
		font-style: italic;
	}

	.employee-image {
		.border-radius(50%);
		width: 100%;
		max-width: 300px;
		max-height: 300px;
		height: auto;
		padding: 8px 8px 2px 8px;
		background: url(../images/red-wood.jpg);
		margin: 0 auto;

		img {
			width: 100%;
			height: auto;
			max-width: 300px;
			.border-radius(50%);
			.boxShadow(0, 0, 5px, 1px);
		}
	}
}

.swipe-notice {
	color: @white;
	padding-bottom: 0;
	text-align:center;
}

.galleries {
	margin-top: 40px;
}	

.inner-gallery	{
	display: block;

	.green {
		background: darken(@green, 17%);
		padding: 15px 15px 10px;
	}

	.row {
		display:none;
		margin-bottom: 15px;
	}

	h2 {
		margin-top: 10px;
		font-family: @sans-serif !important;
		margin-bottom: 0;
	}

	.row, 
	.mobile-row {
		//background: url('../images/wood.jpg'); 
	}

	img {
		max-width: 737px;
		width: 100%;
		height: auto;
	}
}

.gallery-thumb-wrapper {
	width: 100%;
	text-align: left;
	width: 100%;
	height: auto;
	.border-radius(4px);

	.gallery-thumb {
		border-top: 8px solid @green;
		background: url(../images/RedWoodLarge.jpg);
		background-size: 500px 250px;
		background-position: bottom;
		margin-bottom: 40px;
		.border-radius(4px);
		.boxShadow(0px; 0px; 5px; 0px;);

		p {
			// color: lighten(@green, 50%);
			color: @light-gray;
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px 15px;
			margin: 0;
		}
	}
}

.gallery-slideshow {
	margin: 20px 0 40px 0;

	.slides {

		li {
			background: @green;
		}	
	}

	.one-image {
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
		border-bottom: 2px solid @dark-green;
		.boxShadow(0px; 0px; 6px; 3px; rgba(0,0,0,0.2));
	}

	.two-images {
		width: 50%;
		float:left;

		img {
			float:left;
			height: auto !important;
		}
		
		&:first-child {
			border-right: 5px solid @dark-green;
		}
	}

	p {
		text-align: left;
		font-size:16px;
		line-height: 20px !important;
		color: @light-gray;
		background: @green;
		margin: 0;
		padding: 20px;
		border-top: 5px solid @dark-green;
		.boxShadow(0px; 0px; 6px; 3px; rgba(0,0,0,0.2));
	}

	.flex-direction-nav {
		display: none;
	}
}

.contact-form {
	text-align: left;
	width: 100%;
	margin: 0 auto;
	position: relative;

	form {
		background: @light-gray;
		padding: 25px;
	}

	p {
		color: lighten(@green, 20%) !important;
		font-size: 1.2rem !important;
		text-transform: uppercase;
		padding: 0 !important;
	}

	input[type='text'], 
	input[type='email'],
	input[type='tel'] {
		background: none;
		box-shadow: none;
		height: 30px;
		border-bottom: 2px solid lighten(@green, 20%);
		border-top: none;
		border-left: none;
		border-right: none;
		width: 100%;
	}

	.left {
		float: none;
		width: 100%;
	}

	.right {
		float: none;
		width: 100%;
	}

	textarea {
		background: lighten(@green, 55%);
		border: none;
		width: 100%;
	}

	input[type='submit'] {
		background: lighten(@dark-green, 10%);
		color: @light-gray;
		font-family: @soviet;
		border: none;
		font-size: 1rem;
		padding: 10px;
		border-radius: 3px;
	}

	div.wpcf7 img.ajax-loader {
		display: none;
	}
}

/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
13. FOOTER STYLES
*********************/

.footer {
	clear: both;
	background: url(../images/green_fabric_bg.png) repeat-x @dark-green;
	//height: 70px;

	.absolute {
		
		margin: 0 auto;
		position: relative;

		img {
			width: 75px;
			margin: 0 auto;
			//position: relative;
		}
	}

	#inner-footer {
		color: #ebebeb;
		text-align: center;

		nav {
			ul.nav {
				li {
					a {}

					&:first-child {}

					&:last-child {}
				}
			}
		}
	}
	
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		font-size: 0.9rem;
	}

